@charset "utf-8";

.chart {float: left; width: 22%; height: 230px; text-align: center;margin-right: 20px;}
.chart span.title{display: block;text-align: center;margin-bottom: 8px;}

.ocen_img {padding: 3% 2%;display: flex;}
.ocen_img img {width: 100%;height: auto;margin-right: 30px;}

.kyo_img {padding: 3% 2%;display: flex;}
.kyo_img img {width: 100%;height: auto;}